apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "icinga2.fullname" . }}
  labels:
    {{- include "icinga2.labels" . | nindent 4 }}
spec:
  serviceName: {{ include "icinga2.fullname" . }}
  replicas: 1
  selector:
    matchLabels:
      {{- include "icinga2.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "icinga2.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "icinga2.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: ICINGA_DISABLE_CONFD
              value: {{ .Values.config.disable_confd | int | quote }}
            {{- include "icinga2.envSecrets" . | nindent 12 }}
            {{- if .Values.extraEnvVars }}
            {{- toYaml .Values.extraEnvVars | nindent 12 }}
            {{- end }}
          ports:
            - name: api
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          command:
            - icinga2
            - daemon
          volumeMounts:
            - name: {{ include "icinga2.fullname" . }}-data
              mountPath: /data
              {{- if .Values.persistence.container.subPath }}
              subPath: {{ .Values.persistence.container.subPath }}
              {{- end }}
            - name: {{ include "icinga2.fullname" . }}-features
              mountPath: /etc/icinga2/features-enabled
            {{- range .Values.persistence.container }}
            - name: {{ include "icinga2.fullname" $ }}-{{ .name }}
              mountPath: {{ .mountPath }}
              {{- if .subPath }}
              subPath: {{ .subPath }}
              {{- end }}
            {{- end }}
            {{- include "icinga2.secretMounts" . | indent 12 }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      initContainers:
        - name: {{ .Chart.Name }}-bootstrapper
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - icinga2
            - daemon
            - -C
          env:
            - name: ICINGA_CN
              value: {{ .Values.config.node_name | quote }}
            - name: ICINGA_MASTER
              value: "1"
            - name: ICINGA_DISABLE_CONFD
              value: {{ .Values.config.disable_confd | int | quote }}
            {{- include "icinga2.envSecrets" . | nindent 12 }}
          volumeMounts:
          {{- range .Values.persistence.init}}
            - name: {{ include "icinga2.fullname" . }}-data
              mountPath: /data
              {{- if .Values.persistence.init.subPath }}
              subPath: {{ .Values.persistence.init.subPath }}
              {{- end }}
            {{- include "icinga2.secretMounts" . | indent 12 }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      {{- range .Values.persistence }}
      {{- if .enabled }}
        - name: {{ include "icinga2.fullname" $ }}-{{ .name }}
          persistentVolumeClaim:
            claimName: {{ include "icinga2.fullname" $ }}-{{ .name }}
      {{- end }}
      {{- end }}
        - name: {{ include "icinga2.fullname" . }}-features
          configMap:
            name: {{ include "icinga2.fullname" . }}-features
        - name: {{ include "icinga2.fullname" . }}-config
          configMap:
            name: {{ include "icinga2.fullname" . }}-config
    
        {{- include "icinga2.secretVolumes" . | indent 8 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  {{- if .Values.persistence }}
  volumeClaimTemplates:
  {{- range .Values.persistence }}
    - metadata:
      name: {{ include "icinga2.fullname" $ }}-{{ .name }}
      spec:
        accessModes:
          - {{ .accessMode | quote }}
        resources:
          requests:
            storage: {{ .size }}
        {{- if .volumeName }}
        volumeName: {{ .volumeName }}
        {{- end }}
        {{- if .storageClass }}
        {{- if (eq "-" .storageClass) }}
        storageClassName: ""
        {{- else }}
        storageClassName: {{ .storageClass }}
        {{- end }}
        {{- end }}
        selector:
        {{- if .matchLabels }}
          matchLabels:
            {{- toYaml .matchLabels | nindent 12 }}
        {{- end }}
        {{- if .matchExpressions }}
          matchExpressions:
            {{- toYaml .matchExpressions | nindent 12 }}
        {{- end }}
  {{- end }}
  {{- end }}