---
{{ if .Values.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "icingaweb2.fullname" . }}
  labels:
    {{- include "icingaweb2.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "icingaweb2.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "icingaweb2.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "icingaweb2.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: icingaweb.enabledModules
              value: {{ include "icingaweb2.enabledModules" . }}
            {{- include "icingaweb2.config" . | indent 12 }} # TODO: Job for x509 migrations
            {{- include "icingaweb2.resources" . | indent 12 }}
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          livenessProbe:
            failureThreshold: 5
            httpGet:
              scheme: HTTP
              path: /img/favicon.png
              port: {{ .Values.service.port }}
          readinessProbe:
            failureThreshold: 3
            httpGet:
              scheme: HTTP
              path: /img/favicon.png
              port: {{ .Values.service.port }}
        {{- if .Values.modules.director.enabled }}
        - name: {{ .Chart.Name }}-director
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: []
          args:
            - /bin/bash
            - -ce
            - |
              icingacli director migration run
              (icingacli director kickstart required && icingacli director kickstart run && icingacli director config deploy) || true
              icingacli director daemon run
          env:
            - name: icingaweb.enabledModules
              value: {{ include "icingaweb2.enabledModules" . }}
            {{- include "icingaweb2.config" . | indent 12 }}
            {{- include "icingaweb2.resources" . | indent 12 }}
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- end }}
      volumes:
        - name: data
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end -}}
